<!DOCTYPE html>
<html>
<head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Github API Call{% endblock %}</title>
    <!--<link rel="icon" type="" href="{{ url_for('static', filename='') }}">-->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css' )}}">
    {% endblock %}
</head>

<body>
<!--<nav>-->
    <!--<ul>-->
        <!---->
    <!--</ul>-->
<!--</nav>-->


<main>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <!--{% block content %}-->

    <!--{% endblock %}-->
</main>

<footer>
    <!--{% block footer %}-->

    <!--{% endblock %}-->
</footer>

</body>
</html>
